@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fontFamily: "Poppins", sans-serif;
  --graytext: rgba(141, 149, 158, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --blacktext: rgba(19, 27, 41, 1);
  --green: rgba(130, 191, 42, 1);
  --lightgreen: rgba(242, 246, 236, 1); /* for bg  */
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  touch-action: pan-x pan-y;
  overflow: auto;
  font-family: "Poppins", sans-serif;
}

body a,
body a:hover {
  text-decoration: none;
}

/* ************text-colors**************  */
.text-gray {
  color: var(--graytext) !important;
}
.text-white {
  color: var(--white) !important;
}
.text-black {
  color: var(--black) !important;
}
.text-blacktext {
  color: var(--blacktext) !important;
}
.text-green {
  color: var(--green) !important;
}


/* ************bg-colors**************  */
.bg-lightgreen {
  background-color: var(--lightgreen) !important;
}
.bg-white {
  background-color: var(--white) !important;
}
.bg-black {
  background-color: var(--black) !important;
}
.bg-green {
  background-color: var(--green) !important;
}
.bg-lightgreen {
  background-color: var(--lightgreen) !important;
}


/* ************FONT-FAMILY**************  */
.font-poppins {
  font-family: var(--fontFamily) !important;
}
/* ************FONT-SIZES**************  */
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.fs-40 {
  font-size: 40px !important;
}
.fs-44 {
  font-size: 44px !important;
}
.fs-46 {
  font-size: 46px !important;
}
/* ************BODY-FONT-SIZES**************  */
.text-lg {
  font-size: 20px !important;
  line-height: 28px !important;
}
.text-md {
  font-size: 16px !important;
  line-height: 24px !important;
}
.text-sm {
  font-size: 14px !important;
  line-height: 20px !important;
}
.text-xs {
  font-size: 12px !important;
  line-height: 16px !important;
}
/* ************FONT-WEIGHT************** */
.font-thin {
  font-weight: 100 !important;
}
.font-extraLight {
  font-weight: 200 !important;
}
.font-light {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.font-semibold {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.font-extrabold {
  font-weight: 800 !important;
}
.font-black {
  font-weight: 900 !important;
}
/* ************FONT-STYLE************** */
.font-bold {
  font-style: bold !important;
}
.font-italic {
  font-style: italic !important;
}
.font-underline {
  font-style: underline !important;
}

/* ************BORDER-RADIUS************** */
.rounded-none {
  border-radius: none !important;
}
.rounded-sm {
  border-radius: 2px !important;
}
.rounded-md {
  border-radius: 4px !important;
}
.rounded-lg {
  border-radius: 8px !important;
}
.rounded-xl {
  border-radius: 12px !important;
}
.rounded-2xl {
  border-radius: 16px !important;
}
.rounded-24 {
  border-radius: 24px !important;
}
.rounded-full {
  border-radius: 512px !important;
}

/* ************TEXT-TRANSFORM**************  */
.uppercase {
  text-transform: uppercase !important;
}
.lowercase {
  text-transform: lowercase !important;
}
.capitalize {
  text-transform: capitalize !important;
}
.normal-case {
  text-transform: none !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
/* ************TEXT-DECORATION**************  */
.underline {
  text-decoration-line: underline !important;
}
.no-underline {
  text-decoration-line: none !important;
}
/* ************DISPLAY-CLASSES**************  */
.inline {
  display: inline !important;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.flex {
  display: flex !important;
}
.inline-flex {
  display: inline-flex !important;
}
.hidden {
  display: none !important;
}
/* ************FLEXBOX-CLASSES**************  */
.grow-1 {
  flex-grow: 1 !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-col {
  flex-wrap: column !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}
.items-start {
  align-items: flex-start !important;
}
.items-center {
  align-items: center !important;
}
.items-end {
  align-items: flex-end !important;
}
.self-start {
  align-self: flex-start !important;
}
.self-end {
  align-self: flex-end !important;
}
.self-center {
  align-self: center !important;
}
/* ************POSITION************** */
.gap-39 {
  gap: 39px !important;
}
.gap-2 {
  gap: 16px !important;
}
/* ************WIDTH**************  */
.w-100 {
  width: 100% !important;
}
.w-half {
  width: 50% !important;
}
.w-screen {
  width: 100vw !important;
}
.w-auto {
  width: auto !important;
}
.w-fit {
  width: fit-content !important;
}
.w-max {
  width: max-content !important;
}
/* ************HEIGHT**************  */
.h-full {
  height: 100% !important;
}
.h-half {
  height: 50% !important;
}
.min-h-screen {
  min-height: 100vh !important;
}
.h-screen {
  height: 100vh !important;
}
.h-auto {
  height: auto !important;
}
.h-fit {
  height: fit-content !important;
}
.h-max {
  height: max-content !important;
}
